opencv-python==4.8.1.78
mediapipe==0.10.9
tensorflow==2.15.0
numpy==1.26.4
scikit-learn==1.4.0
SpeechRecognition==3.10.1
pyttsx3==2.90
pyaudio==0.2.14
Pillow==10.2.0
pandas==2.2.0
matplotlib==3.8.2
seaborn==0.13.2
